<html>

<head>
    <link rel = "stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

</head>
<body>
    <div class="main"> 
    {{>header}}
    <img class="potrait" src="/img/img1.jpg">
    <div class="main"> 
    {{>footer}}
</body>
</html>